/* Popup Flash message begin */
.flash-container {
    opacity: 1;
    z-index: 99999;
}
.flash-container-desktop {
    right: 3vh!important;
}
.flash-container {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 4003;
    width: 94%;
    max-width: 420px;
}
.alert {
    margin-bottom: 5px;
}
/* Popup Flash message end */

#terminator {
    position: fixed;
    bottom: 0;
    right: 30%;
    width: 350px;
    display:none;
}

p.speech {
    position: relative;
    left: 90px;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 36px;
    top: 98px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}
p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 34px;
    top: 98px;
    border: 17px solid;
    border-color: #666 transparent transparent #666;
}
